<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    <hr class="horizontal dark mt-0">
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link  active" href="/home">
                    <span class="nav-link-text ms-1">Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/data">
                    <span class="nav-link-text ms-1">Data Dishes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataTable">
                    <span class="nav-link-text ms-1">Data Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataCategory">
                    <span class="nav-link-text ms-1">Data Category</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/dataTimeline">
                    <span class="nav-link-text ms-1">Data Timeline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addMenu">
                    <span class="nav-link-text ms-1">Add Dishes</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addTable">
                    <span class="nav-link-text ms-1">Add Table</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addCategory">
                    <span class="nav-link-text ms-1">Add Menu Category</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/addTimeline">
                    <span class="nav-link-text ms-1">Add Timeline</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/booking">
                    <span class="nav-link-text ms-1">Booking</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/raying">
                    <span class="nav-link-text ms-1">Rating</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/ratingFood">
                    <span class="nav-link-text ms-1">Rating Food</span>
                </a>
            </li>
            <li class="nav-item mt-3">
                <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/profile">
                    <span class="nav-link-text ms-1">Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link  " href="/userInformation">
                    <span class="nav-link-text ms-1">User Information</span>
                </a>
            </li>
        </ul>
    </div>
</aside>
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <div class="container-fluid py-4">
        <h4>Today's</h4>
        <div class="row">
            <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Money</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        <script>
                                            const moneyDay = {{ moneyDay }};
                                            document.write(
                                                new Intl.NumberFormat('vi-VN').format(moneyDay) + ' <span class="col-3 text-sm font-weight-bolder">VND</span>'
                                            );
                                        </script>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Biiling Order</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        {{orderDay}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="card">
                    <div class="card-body p-3">
                        <div class="row">
                            <div class="col-8">
                                <div class="numbers">
                                    <p class="text-sm mb-0 text-capitalize font-weight-bold">Sales Dish</p>
                                    <h5 class="font-weight-bolder mb-0">
                                        {{quantityDay}}
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-5 mb-lg-0 mb-4">
                <div class="card z-index-2">
                    <div class="card-body p-3">
                        <div class="bg-gradient-dark border-radius-lg py-3 pe-1 mb-3">
                            <div class="chart">
                                <canvas id="chart-bars" class="chart-canvas" height="170"></canvas>
                            </div>
                        </div>
                        <div class="container border-radius-lg">
                            <div class="row">
                                <div class="col-3 py-3 ps-0">
                                    <div class="d-flex mb-2">
                                        <p class="text-xs mt-1 mb-0 font-weight-bold">Money</p>
                                    </div>
                                    <h4 class="font-weight-bolder">
                                        <script>
                                            const moneyYear = {{ moneyYear }};
                                            document.write(
                                                new Intl.NumberFormat('vi-VN').format(moneyYear)
                                            );
                                        </script>
                                    </h4>
                                    <div class="progress w-75">
                                        <div class="progress-bar bg-dark w-90" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-3 py-3 ps-0">
                                    <div class="d-flex mb-2">
                                        <p class="text-xs mt-1 mb-0 font-weight-bold">Order</p>
                                    </div>
                                    <h4 class="font-weight-bolder">{{orderYear}}</h4>
                                    <div class="progress w-75">
                                        <div class="progress-bar bg-dark w-30" role="progressbar" aria-valuenow="30"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <div class="col-3 py-3 ps-0">
                                    <div class="d-flex mb-2">
                                        <p class="text-xs mt-1 mb-0 font-weight-bold">Dish</p>
                                    </div>
                                    <h4 class="font-weight-bolder">{{quantityYear}}</h4>
                                    <div class="progress w-75">
                                        <div class="progress-bar bg-dark w-50" role="progressbar" aria-valuenow="50"
                                            aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card z-index-2">
                    <div class="card-header pb-0">
                        <h6>Sales overview</h6>
                    </div>
                    <div class="card-body p-3">
                        <div class="chart">
                            <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Order</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2">
                        <div class="table-responsive p-0">
                            <table class="table align-items-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-center text-secondary opacity-7">
                                            Day</th>
                                        <th class="text-center text-secondary opacity-7">
                                            Time</th>
                                        <th class="text-center text-secondary opacity-7">
                                            Table</th>
                                        <th class="text-center text-secondary opacity-7">Quantity</th>
                                        <th class="text-center text-secondary opacity-7">Price</th>
                                        <th class="text-center text-secondary opacity-7">
                                            Payment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each order}}
                                    <tr>
                                        <td>
                                            <p class="text-center text-xs font-weight-bold mb-0">{{dayOrder}}</p>
                                        </td>
                                        <td>
                                            <p class="text-center text-xs font-weight-bold mb-0">{{timeOrder}}</p>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{numberTable}}</span>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{quantity}}</span>
                                        </td>
                                        </td>
                                        <td class="align-middle text-center">
                                            <span class="text-secondary text-xs font-weight-bold">{{totalMoney}}</span>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            {{#if isPayment}}
                                            <span class="badge badge-sm bg-gradient-success">Success</span>
                                            {{else}}
                                            <span class="badge badge-sm bg-gradient-secondary">Pending</span>
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>